{
    "weather": {
        "location": "location short name (optional)",
        "latitude": "location latitude",
        "longitude": "location longitude"
    },
    "hue": {
        "hostname": "hue bridge ip address",
        "username": "hue bridge username",
        "rainLightId": hue bridge light id,
        "coldLightId": hue bridge light id
    },
    "tokens": {
        "forecastio": "forecast.io developer key"
    }
}